@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.container {
  max-width: 120rem;
  margin: auto; }

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 5rem;
    font-weight: 800;
    letter-spacing: 1rem;
    text-shadow: 0 1rem 2rem black;
    color: #fff;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /* animation-delay: 1s; */
    /* animation-iteration-count: 3; */ }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        font-size: 3rem; } }
    .heading-primary--main-2 {
      color: #fff;
      text-transform: uppercase;
      font-size: 5rem;
      margin-top: 10rem; }
      @media only screen and (max-width: 37.5em) {
        .heading-primary--main-2 {
          font-size: 3rem; } }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        margin-bottom: 0 !important; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .5rem;
    text-align: start;
    text-shadow: 0 1rem 2rem black;
    animation: moveInRight 1s ease-out;
    /* animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out; */ }
    .heading-primary--sub--link {
      text-decoration: none;
      color: #fff; }
    @media only screen and (max-width: 62.5em) {
      .heading-primary--sub {
        display: none; } }

.heading--title {
  color: #111111;
  align-self: center;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1;
  text-transform: uppercase; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-mediam {
  margin-bottom: 2rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-small {
  margin-top: 4rem !important; }

.u-margin-top-mediam {
  margin-top: 6rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.contact-us {
  display: flex;
  padding: 10rem 10rem;
  max-width: 120rem;
  margin: 0 auto;
  height: 50rem; }
  @media only screen and (max-width: 62.5em) {
    .contact-us {
      display: flex;
      flex-direction: column;
      height: 65rem;
      padding: 5rem; } }
  .contact-us > *:not(:last-child) {
    border-right: 1px solid black; }
    @media only screen and (max-width: 62.5em) {
      .contact-us > *:not(:last-child) {
        border-right: none; } }
  .contact-us > * {
    padding: 0 4rem;
    flex: 1 1 33.33%;
    align-self: stretch; }
  .contact-us__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 62.5em) {
      .contact-us__section {
        margin-bottom: 2rem; } }
  .contact-us__img {
    fill: #111111;
    width: 10rem;
    height: 10rem;
    margin: 0 auto 4rem auto; }
    @media only screen and (max-width: 62.5em) {
      .contact-us__img {
        fill: #111111;
        width: 8rem;
        height: 8rem;
        margin: 0 auto 4rem auto; } }
  .contact-us__text {
    color: #111111;
    font-size: 2rem; }

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff; }
  @media only screen and (max-width: 62.5em) {
    .navigation {
      flex-direction: column; } }
  .navigation__logobox {
    margin: 1rem 1rem 1rem 10rem; }
    @media only screen and (max-width: 62.5em) {
      .navigation__logobox {
        flex: 0 0 100%;
        margin: 1rem; } }
  .navigation__logo {
    height: 7rem;
    width: auto; }
  .navigation__nav {
    display: flex;
    list-style: none;
    margin: 1rem 10rem 1rem 1rem; }
    @media only screen and (max-width: 62.5em) {
      .navigation__nav {
        margin: 1rem 1rem 1rem 1rem; } }
  .navigation__item {
    display: flex;
    align-self: center;
    padding: 0 2rem;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 500;
    color: #111111;
    border-bottom: 1px solid transparent;
    transition: all .2s; }
    @media only screen and (max-width: 37.5em) {
      .navigation__item {
        font-size: 1rem; } }
    .navigation__item:hover {
      font-weight: 600;
       }
  .navigation__link {
    text-decoration: none;
    color: #111111; }

.section-notification {
  height: 40rem;
  display: flex;
  flex-direction: row; }
  @media only screen and (max-width: 62.5em) {
    .section-notification {
      flex-direction: column; } }

.section-one {
  height: 100%;
  width: 50%;
  background-color: #A33327;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: flex-start; }
  @media only screen and (max-width: 62.5em) {
    .section-one {
      flex: 0 0 100%;
      width: 100%; } }
  .section-one__title {
    margin: 5rem auto 2rem auto;
    align-self: flex-start;
    color: #fff;
    font-size: 3.5rem;
    font-weight: 600;
    text-transform: uppercase; }
  .section-one__alert-box {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
    width: 50rem;
    height: auto;
    padding: 1rem;
    font-size: 1.2rem;
    color: #111111;
    font-weight: 700;
    text-align: justify;
    box-shadow: 1rem 2rem 4rem rgba(17, 17, 17, 0.3);
    margin: 1rem 0; }
    @media only screen and (max-width: 37.5em) {
      .section-one__alert-box {
        align-self: center;
        margin: auto;
        margin-bottom: 1rem;
        width: 80%; } }
  .section-one__alert-box-date{
    font-style: oblique;
  }

.section-two {
  height: 100%;
  width: 50%;
  background-color: #EDE2DC;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: flex-start;
  z-index: 100; }
  @media only screen and (max-width: 62.5em) {
    .section-two {
      flex: 0 0 100%;
      width: 100%; } }
  @media only screen and (max-width: 37.5em) {
    .section-two {
      height: 200rem !important; } }
  .section-two__title {
    margin: 5rem auto 2rem auto;
    align-self: flex-start;
    color: #111111;
    font-size: 3.5rem;
    font-weight: 600;
    text-transform: uppercase; }
  .section-two__report-sec {
    padding: 0 10rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    @media only screen and (max-width: 37.5em) {
      .section-two__report-sec {
        padding: 0;
        align-self: center;
        margin: 0 1rem; } }
  .section-two__report {
    display: flex;
    align-content: center;
    align-items: center;
    margin: 1rem;
    width: 20rem;
    height: 7rem;
    background-color: #A33327;
    border-radius: 5px;
    color: #fff;
    transition: transform .2s, box-shadow .2s; }
    @media only screen and (max-width: 37.5em) {
      .section-two__report {
        height: 6rem;
        width: 14rem; } }
    .section-two__report-text {
      align-self: center;
      margin: auto;
      font-size: 3rem;
      font-weight: 700; }
      @media only screen and (max-width: 37.5em) {
        .section-two__report-text {
          height: 2rem;
          font-size: 2rem; } }
    .section-two__report:hover {
      transform: scale(1.1);
      box-shadow: 0.2rem 0.7rem 2rem rgba(17, 17, 17, 0.5);
      cursor: pointer; }

.section-read {
  height: 44rem;
  background-color: #111111;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.read__text {
  color: #fff;
  margin-bottom: 3rem;
  margin-top: 5rem; }

.read__secondSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .read__secondSection--image {
    margin: 5rem 5rem 1rem 10rem;
    height: 25rem;
    width: 100%;
    background-image: url(../images/logo.jpg);
    background-repeat: no-repeat;
    background-size: contain; }
  .read__secondSection--para {
    color: #fff;
    margin: 5rem 5rem 5rem 10rem; }

.section-press {
  height: 60rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -99; }
  @media only screen and (max-width: 62.5em) {
    .section-press {
      width: 100%;
      height: 190rem; } }

.section-press__home {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15rem;
  padding-top: 15rem; }
  @media only screen and (max-width: 62.5em) {
    .section-press__home {
      width: 100%;
      height: 190rem; } }

.press {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  @media only screen and (max-width: 62.5em) {
    .press {
      flex-direction: column;
      margin: 0 !important; } }
  .press__box {
    display: flex;
    flex-direction: column;
    width: 25rem;
    margin: 5rem 5rem;
    box-shadow: 1rem 2rem 4rem rgba(17, 17, 17, 0.5);
    border-radius: 5px;
    overflow: hidden;
    transition: all .2s;
    cursor: pointer; }
    @media only screen and (max-width: 62.5em) {
      .press__box {
        margin: 2rem; } }
    .press__box:hover {
      transform: scale(1.1); }
  .press__image {
    height: 10rem;
    background-image: url(../images/water.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden; }
  .press__mainSection {
    margin-top: 1rem;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .press__mainSection--title {
      font-weight: 700;
      color: #111111;
      font-size: 2rem;
      text-transform: capitalize;
    }
    .press__mainSection--date {
      font-weight: 600;
      color: #3f3f3f;
      font-size: 1.2rem;
    }
  .press__para {
    padding: 0 1rem 1rem 1rem;
    font-size: 1.5rem;
    text-align: justify; }

.section-red {
  height: 70rem;
  width: 100%;
  background-image: url(../images/bg_1.jpeg);
  background-size: cover; }

.red {
  margin: 0 80rem 5rem 15rem;
  padding: 0 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  background-color: rgba(17, 17, 17, 0.5); }
  @media only screen and (max-width: 62.5em) {
    .red {
      margin: 0; } }
  .red__heading {
    margin-top: 10rem;
    margin-bottom: 2rem;
    color: #fff; }
  .red__para {
    color: #fff; }

.header {
  position: relative;
  height: 80vh;
  background-image: url(../images/water.jpeg);
  background-size: cover;
  background-position: top; }
  .header__text-box {
    position: absolute;
    top: 60%;
    left: 35%;
    transform: translate(-50%, -50%);
    text-align: left; }
    @media only screen and (max-width: 62.5em) {
      .header__text-box {
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%); } }

.header__press {
  position: relative;
  height: 50vh;
  background-image: linear-gradient(to bottom, rgba(17, 17, 17, 0.5), rgba(17, 17, 17, 0.5)), url(../images/bg_2.jpeg);
  background-size: cover;
  background-position: top; }

.header__alert {
  position: relative;
  height: 50vh;
  background-image: linear-gradient(to bottom, rgba(17, 17, 17, 0.5), rgba(17, 17, 17, 0.5)), url(../images/bg_3.jpg);
  background-size: cover;
  background-position: top; }

.header__contacts {
  position: relative;
  height: 50vh;
  background-image: linear-gradient(to bottom, rgba(17, 17, 17, 0.5), rgba(17, 17, 17, 0.5)), url(../images/bg_3.jpg);
  background-size: cover;
  background-position: top; }

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 62.5em) {
    .footer {
      flex-direction: column; } }
  .footer__text {
    color: #111111;
    align-self: flex-end;
    margin-bottom: 2rem;
    font-weight: 800; }
    @media only screen and (max-width: 62.5em) {
      .footer__text {
        flex: 0 0 100%;
        align-self: center; } }
  .footer__logobox {
    margin: 2rem 2rem 2rem 1rem; }
    @media only screen and (max-width: 62.5em) {
      .footer__logobox {
        flex: 0 0 100%; } }

.social-media__icon {
  height: 7rem; }
